body{
    background-size: cover;
}
.heading{
    background-color: gray;
    width: 100%;
    font-size: 23px;
    margin: 0;
    box-shadow: 5px 5px 5px blue;
}
.heading_div1{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}
.heading_div2{
    font-size: 18px;
    padding: 10px;
}
.copy_right{
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 125px;
}